.link {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  padding: 12px 32px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: -o-linear-gradient(0.59deg, #005CD7 -11.83%, #179EDE 110.67%);
  background: linear-gradient(89.41deg, #005CD7 -11.83%, #179EDE 110.67%); }
  .link:hover {
    text-decoration: none;
    background: -o-linear-gradient(0.59deg, #424242 -11.83%, #424242 110.67%);
    background: linear-gradient(89.41deg, #424242 -11.83%, #424242 110.67%);
    color: #fff; }

.link__alt {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #005BD7;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .link__alt:hover {
    color: #424242; }

.link__large {
  padding: 33px 60px;
  display: inline-block;
  max-width: 375px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 375px;
  border: 1px solid #005BD7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2);
          box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2);
  border-radius: 10px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #005BD7;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .link__large svg {
    margin-right: 6px; }
  .link__large:hover {
    text-decoration: none;
    opacity: .5; }

.main-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #424242;
  margin: 0 0 38px;
  width: 100%;
  text-align: left; }

.heading-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #424242;
  margin: 0 0 38px; }

.page-main {
  padding: 48px 0 69px; }

.breadcrumbs-section {
  background: #ECF5FA; }

.woocommerce-page .breadcrumbs-section {
  background: transparent; }

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px; }
  .breadcrumbs li {
    list-style: none; }
    .breadcrumbs li a {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #424242;
      text-decoration: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      display: inline-block; }
      .breadcrumbs li a:hover {
        color: #005BD7;
        text-decoration: none; }
  .breadcrumbs .current {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #9D9D9D; }
  .breadcrumbs .sep {
    padding: 0 3px 0 4px; }

.mobile-menu {
  display: none !important;
  position: absolute;
  z-index: 99;
  background: #fff;
  top: 79px;
  left: 0;
  height: 100%; }
  .open .mobile-menu {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .mobile-menu .phone-numbers__mobile a {
    text-decoration: none;
    color: #414141; }
  .mobile-menu .phone-numbers__mobile svg {
    margin-right: 5px; }
  .mobile-menu #menu-mobile {
    margin: 30px 0 30px;
    padding: 0; }
    .mobile-menu #menu-mobile li {
      list-style: none; }
      .mobile-menu #menu-mobile li a {
        text-decoration: none;
        color: #414141; }

.menu-icon-toggle {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  display: none;
  right: 20px;
  top: 25px; }
  .menu-icon-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    background-color: #424242;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: opacity 0.3s 0.3s;
    -o-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s; }
    .home:not(.open) .menu-icon-toggle span {
      background-color: #424242; }
  .menu-icon-toggle::before, .menu-icon-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #424242;
    -webkit-transition: top 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s;
    transition: top 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s; }
  .menu-icon-toggle::before {
    top: 6px; }
  .menu-icon-toggle::after {
    bottom: 6px; }
  .open .menu-icon-toggle span {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .open .menu-icon-toggle::before, .open .menu-icon-toggle::after {
    background-color: #000; }
  .open .menu-icon-toggle::before {
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .open .menu-icon-toggle::after {
    bottom: -webkit-calc(50% - 1px);
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .open .menu-icon-toggle::before, .open .menu-icon-toggle::after {
    -webkit-transition: top 0.3s, bottom 0.3s, -webkit-transform 0.3s 0.3s;
    transition: top 0.3s, bottom 0.3s, -webkit-transform 0.3s 0.3s;
    -o-transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
    transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
    transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }
  .open .menu-icon-toggle {
    visibility: visible;
    -webkit-transition: background-position 0.5s, -webkit-transform 0.5s 0.5s;
    transition: background-position 0.5s, -webkit-transform 0.5s 0.5s;
    -o-transition: background-position 0.5s, transform 0.5s 0.5s;
    transition: background-position 0.5s, transform 0.5s 0.5s;
    transition: background-position 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s; }
  .menu-icon-toggle.top {
    -webkit-transform: rotate(-45deg) translateY(-150%);
        -ms-transform: rotate(-45deg) translateY(-150%);
            transform: rotate(-45deg) translateY(-150%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), color-stop(50%, #fff));
    background: -o-linear-gradient(bottom, #000 50%, #fff 50%);
    background: linear-gradient(to top, #000 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: -100% 100%; }
    .open .menu-icon-toggle.top {
      -webkit-transform: rotate(-45deg) translateY(-49%);
          -ms-transform: rotate(-45deg) translateY(-49%);
              transform: rotate(-45deg) translateY(-49%);
      background-position: 0 0; }
  .menu-icon-toggle.middle {
    -webkit-transform: rotate(-45deg) translateY(50%) scaleY(0);
        -ms-transform: rotate(-45deg) translateY(50%) scaleY(0);
            transform: rotate(-45deg) translateY(50%) scaleY(0);
    background: #fff; }
    .open .menu-icon-toggle.middle {
      -webkit-transform: rotate(-45deg) translateY(50%) scaleY(1);
          -ms-transform: rotate(-45deg) translateY(50%) scaleY(1);
              transform: rotate(-45deg) translateY(50%) scaleY(1); }
  .menu-icon-toggle.bottom {
    -webkit-transform: rotate(-45deg) translateY(250%);
        -ms-transform: rotate(-45deg) translateY(250%);
            transform: rotate(-45deg) translateY(250%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #000));
    background: -o-linear-gradient(top, #fff 50%, #000 50%);
    background: linear-gradient(to bottom, #fff 50%, #000 50%);
    background-size: 100% 200%;
    background-position: 0 -100%; }
    .open .menu-icon-toggle.bottom {
      -webkit-transform: rotate(-45deg) translateY(149%);
          -ms-transform: rotate(-45deg) translateY(149%);
              transform: rotate(-45deg) translateY(149%);
      background-position: 0 0; }

.header__top {
  padding: 21px 0; }

.header__bottom {
  background: -webkit-gradient(linear, left top, right top, from(#005BD7), to(#179FDE));
  background: -o-linear-gradient(left, #005BD7 0%, #179FDE 100%);
  background: linear-gradient(90deg, #005BD7 0%, #179FDE 100%); }

.header__link-cart {
  text-decoration: none;
  position: relative; }
  .header__link-cart:hover {
    text-decoration: none; }

.header__cart .counter {
  font-family: Roboto;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #005BD7;
  padding: 2.5px 5.2px;
  background: #F3F3F3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -13px; }

.header__search-block {
  margin-right: 12px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .header__search-block:hover {
    opacity: .5; }
  .header__search-block a {
    display: inline-block; }

.header__phone-item {
  margin-right: 68px; }
  .header__phone-item a {
    font-family: Gilroy;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .header__phone-item svg {
    margin-right: 8px; }

.header__text-phone {
  font-size: 10px;
  line-height: 12px;
  color: #005BD7; }

.header__bottom {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }
  .header__bottom .main-main-container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header__bottom .main-main-container li {
      list-style: none; }
      .header__bottom .main-main-container li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin: 0 40px; }
        .header__bottom .main-main-container li a:hover {
          text-decoration: underline; }

.home-slider_slider .home-slider_slider__item {
  height: 530px; }

.home-slider {
  position: relative; }
  .home-slider__content {
    text-align: center;
    max-width: 625px;
    margin: 0 auto; }
  .home-slider__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 42px;
    color: #424242;
    margin: 0 0 9px; }
  .home-slider__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #424242;
    margin-bottom: 26px; }
  .home-slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .home-slider__arrows .arrows {
      top: 265px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      position: absolute;
      background: #fff;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .home-slider__arrows .arrows:hover {
        opacity: .5; }
      .home-slider__arrows .arrows.left {
        left: -30px; }
      .home-slider__arrows .arrows.right {
        right: -30px; }

.home-partners .slick-dots,
.home-popular-items .slick-dots,
.home-slider .slick-dots {
  bottom: 15px; }
  .home-partners .slick-dots button,
  .home-popular-items .slick-dots button,
  .home-slider .slick-dots button {
    padding: 0;
    width: 6px;
    height: 6px;
    background: #ECF5FA;
    border-radius: 50%; }
    .home-partners .slick-dots button:before,
    .home-popular-items .slick-dots button:before,
    .home-slider .slick-dots button:before {
      display: none; }
  .home-partners .slick-dots li,
  .home-popular-items .slick-dots li,
  .home-slider .slick-dots li {
    width: 10px;
    height: 10px; }
  .home-partners .slick-dots .slick-active button,
  .home-popular-items .slick-dots .slick-active button,
  .home-slider .slick-dots .slick-active button {
    padding: 0;
    width: 10px;
    height: 10px;
    background: #005BD7; }

.home-partners .slick-dotted.slick-slider,
.home-popular-items .slick-dotted.slick-slider,
.home-slider .slick-dotted.slick-slider {
  margin: 0; }

.home__product-list-cat {
  margin: 66px 0 30px; }

.products-cat-list {
  height: 100%;
  margin: 0 0 31px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 9px 9px;
  grid-template-areas: "one two tree" "four five tree"; }
  .products-cat-list *:after {
    position: absolute;
    top: 0;
    left: 0; }
  .products-cat-list .products-cat__item {
    border: 1px solid #ECF5FA;
    position: relative; }
  .products-cat-list .one {
    grid-area: one; }
  .products-cat-list .two {
    grid-area: two; }
  .products-cat-list .tree {
    grid-area: tree; }
  .products-cat-list .four {
    grid-area: four; }
  .products-cat-list .five {
    grid-area: five; }
  .products-cat-list a {
    padding: 9px 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .products-cat-list a img {
      min-height: 190px; }
    .products-cat-list a:hover {
      text-decoration: none; }
      .products-cat-list a:hover:before {
        visibility: visible !important;
        opacity: 1 !important; }
    .products-cat-list a:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      background-color: rgba(236, 245, 250, 0.8);
      background-image: url(../images/arrow.png);
      background-repeat: no-repeat !important;
      background-position: center center;
      opacity: 0;
      visibility: hidden; }
    .products-cat-list a .products-cat__title {
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #424242;
      text-align: center;
      margin: 18px 0 0; }

.home-popular-items {
  margin: 60px 0 89px 0; }
  .home-popular-items .slick-dots {
    bottom: -30px; }
  .home-popular-items .home-popular__first-block {
    margin: 0 0 38px; }
    .home-popular-items .home-popular__first-block .main-title {
      margin-bottom: 0; }
  .home-popular-items .popular-product__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .home-popular-items .popular-product__list li {
      list-style: none; }
      .home-popular-items .popular-product__list li a {
        margin: 0 9px;
        display: inline-block; }
      .home-popular-items .popular-product__list li a:hover {
        text-decoration: none; }
      .home-popular-items .popular-product__list li .popular-product__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #424242;
        margin: 0;
        padding: 10px;
        background: #ECF5FA;
        min-height: 56px; }
      .home-popular-items .popular-product__list li .popular-product__image {
        max-height: 315px;
        min-height: 315px;
        text-align: center;
        border: 1px solid #ECF5FA; }
        .home-popular-items .popular-product__list li .popular-product__image img {
          margin: 0 auto; }

.home-popular-items .slick-arrow,
.home-news-articles .slick-arrow {
  width: 45px;
  height: 44px; }
  .home-popular-items .slick-arrow:before,
  .home-news-articles .slick-arrow:before {
    display: none; }

.home-popular-items .slick-next:active,
.home-popular-items .slick-next:focus,
.home-popular-items .slick-next,
.home-news-articles .slick-next:active,
.home-news-articles .slick-next:focus,
.home-news-articles .slick-next {
  background: url("../images/arrow.png");
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -49px; }

.home-popular-items .slick-prev:active,
.home-popular-items .slick-prev:focus,
.home-popular-items .slick-prev,
.home-news-articles .slick-prev:active,
.home-news-articles .slick-prev:focus,
.home-news-articles .slick-prev {
  background: url("../images/arrow.png");
  -webkit-transform: rotateZ(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotateZ(180deg) translate(0, 50%);
  left: -49px; }

.home-popular-items .slick-next:hover,
.home-popular-items .slick-prev:hover,
.home-news-articles .slick-next:hover,
.home-news-articles .slick-prev:hover {
  opacity: .5 !important;
  background: url("../images/arrow.png") !important; }

.row-sidebar-catalog {
  max-width: 320px; }

.catalog-menu__title {
  display: none; }

.woocommerce-categories {
  background: #ECF5FA;
  padding: 28px 19px;
  margin: 0; }
  .woocommerce-categories li {
    list-style: none;
    margin-bottom: 22px;
    position: relative; }
    .woocommerce-categories li a {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000; }
    .woocommerce-categories li svg {
      position: absolute;
      right: 0;
      top: 6px;
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .woocommerce-categories li svg.active {
        -webkit-transform: rotateZ(180deg);
            -ms-transform: rotate(180deg);
                transform: rotateZ(180deg); }
  .woocommerce-categories ul {
    margin: 8px 0 0 0;
    padding: 0; }
    .woocommerce-categories ul li {
      list-style: none;
      margin-bottom: 8px; }
      .woocommerce-categories ul li a {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #424242; }
  .woocommerce-categories a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .woocommerce-categories a:hover {
      text-decoration: none;
      color: #005BD7; }
  .woocommerce-categories .woocommerce-product-category-page:last-child {
    margin-bottom: 0; }

.woocommerce-page .heading-title {
  margin-bottom: 0 !important; }

.woocommerce-page .page-main {
  padding-top: 36px; }

.single-product .heading-title {
  display: none; }

.single-product .single-product_wrapper {
  margin-top: 38px; }

.single-product .meta__info {
  margin-bottom: 24px; }

.single-product .entry-summary h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #424242;
  margin-bottom: 18px; }

.single-product .entry-summary .meta-info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px; }

.single-product .entry-summary .meta__info_title {
  width: 112px;
  min-width: 129px;
  margin-right: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #858585; }

.single-product .entry-summary .meta__info_value {
  font-size: 12px;
  line-height: 14px;
  color: #424242; }

.single-product .woocommerce div.product form.cart div.quantity {
  display: none; }

.single-product .single-product__bottom-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .single-product .single-product__bottom-block .booking-link {
    margin-right: 11px;
    min-width: 155px;
    text-align: center; }

.single-product .woocommerce div.product form.cart {
  margin-bottom: 0 !important; }

.single-product .single_add_to_cart_button {
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  text-align: center !important;
  color: #FFFFFF !important;
  padding: 12px 36px !important;
  background: -o-linear-gradient(0.59deg, #005CD7 -11.83%, #179EDE 110.67%) !important;
  background: linear-gradient(89.41deg, #005CD7 -11.83%, #179EDE 110.67%) !important;
  text-transform: uppercase !important;
  border: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 0 !important; }
  .single-product .single_add_to_cart_button:focus, .single-product .single_add_to_cart_button:hover {
    border: none !important;
    background: -o-linear-gradient(0.59deg, #333 -11.83%, #333 110.67%) !important;
    background: linear-gradient(89.41deg, #333 -11.83%, #333 110.67%) !important; }

.single-product .woocommerce-product-gallery__trigger {
  display: none; }

.single-product .woocommerce-product-gallery {
  border: 1px solid #DBE2EC;
  position: relative; }
  .single-product .woocommerce-product-gallery .flex-control-nav {
    display: none; }
  .single-product .woocommerce-product-gallery .flex-direction-nav {
    padding: 0;
    margin: 0; }
    .single-product .woocommerce-product-gallery .flex-direction-nav li {
      list-style: none; }
      .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-prev,
      .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-next {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        text-indent: -999999px;
        width: 22px;
        height: 22px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-prev:hover,
        .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-next:hover {
          opacity: .5; }
      .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-next {
        right: 12px;
        background: url(../images/arrow_slider.png); }
      .single-product .woocommerce-product-gallery .flex-direction-nav li .flex-prev {
        left: 12px;
        background: url(../images/arrow_slider.png);
        -webkit-transform: translateY(-50%) rotateZ(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotateZ(180deg); }

.woocommerce .products {
  margin: 0 -5px; }

.woocommerce .single-product__item-related,
.woocommerce .product-item {
  margin: 0 !important;
  padding: 0 5px 11px 5px !important; }
  .woocommerce .single-product__item-related .product-item_wrapper,
  .woocommerce .product-item .product-item_wrapper {
    border: 1px solid #ECF5FA;
    position: relative; }
    .woocommerce .single-product__item-related .product-item_wrapper .product-item__link_overflow,
    .woocommerce .product-item .product-item_wrapper .product-item__link_overflow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(236, 245, 250, 0.8);
      z-index: 10;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .woocommerce .single-product__item-related .product-item_wrapper:hover .product-item__link_overflow,
    .woocommerce .product-item .product-item_wrapper:hover .product-item__link_overflow {
      visibility: visible;
      opacity: 1; }
    .woocommerce .single-product__item-related .product-item_wrapper .product-item__tags,
    .woocommerce .product-item .product-item_wrapper .product-item__tags {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      padding: 6px; }
      .woocommerce .single-product__item-related .product-item_wrapper .product-item__tags .product-item__tags_promo,
      .woocommerce .single-product__item-related .product-item_wrapper .product-item__tags .product-item__tags_new,
      .woocommerce .product-item .product-item_wrapper .product-item__tags .product-item__tags_promo,
      .woocommerce .product-item .product-item_wrapper .product-item__tags .product-item__tags_new {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        border-radius: 2px;
        padding: 3px 15px; }
      .woocommerce .single-product__item-related .product-item_wrapper .product-item__tags .product-item__tags_promo,
      .woocommerce .product-item .product-item_wrapper .product-item__tags .product-item__tags_promo {
        color: #FF0000;
        background: #FFEFEC;
        margin-left: 3px; }
      .woocommerce .single-product__item-related .product-item_wrapper .product-item__tags .product-item__tags_new,
      .woocommerce .product-item .product-item_wrapper .product-item__tags .product-item__tags_new {
        color: #005BD7;
        background: #ECF5FA; }
  .woocommerce .single-product__item-related .attachment-woocommerce_thumbnail,
  .woocommerce .product-item .attachment-woocommerce_thumbnail {
    max-height: 160px;
    width: auto !important;
    margin: 0 auto !important; }
  .woocommerce .single-product__item-related .button.product_type_simple,
  .woocommerce .product-item .button.product_type_simple {
    display: none !important; }
  .woocommerce .single-product__item-related .product-item__title-block,
  .woocommerce .product-item .product-item__title-block {
    display: block;
    background: #ECF5FA;
    padding: 11px 21px;
    min-height: 86px; }
    .woocommerce .single-product__item-related .product-item__title-block h3,
    .woocommerce .product-item .product-item__title-block h3 {
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin: 0;
      font-weight: normal;
      text-align: left; }

.woocommerce div.product .woocommerce-tabs .panel {
  margin-bottom: 25px; }

.single-product .tabs.wc-tabs {
  background: #ECF5FA;
  padding: 0 !important;
  margin: 0 0 18px !important; }
  .single-product .tabs.wc-tabs:before {
    display: none !important; }
  .single-product .tabs.wc-tabs .description_tab {
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important; }
    .single-product .tabs.wc-tabs .description_tab:before, .single-product .tabs.wc-tabs .description_tab:after {
      display: none; }
    .single-product .tabs.wc-tabs .description_tab a {
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: 19px;
      text-align: center;
      color: #858585;
      padding: 10px 65px 8px !important;
      border-bottom: 2px solid transparent !important; }
    .single-product .tabs.wc-tabs .description_tab.active a {
      color: #005BD7 !important;
      border-color: #005BD7 !important; }

.single-product .title__related {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #424242;
  margin: 0 0 40px; }

.single-product .single-product__list-related-products {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .single-product .single-product__list-related-products li {
    list-style: none; }

.single-product .single-product__img-related {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0; }
  .single-product .single-product__img-related img {
    max-height: 160px; }

.single-product .slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0 6px; }

.single-product .slick-dots {
  text-align: center;
  bottom: -20px; }

.single-product .slick-dots li button:before {
  display: none; }

.single-product .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background: #005BD7;
  border: 1px solid #005BD7;
  border-radius: 50%; }

.single-product .slick-dots li button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #B8B8B8;
  padding: 0; }

.single-product .woocommerce-product-gallery__wrapper img {
  max-height: 307px;
  width: auto !important;
  display: table;
  margin: 0 auto; }

.single-product .product-item__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 6px;
  z-index: 5; }
  .single-product .product-item__tags .product-item__tags_promo,
  .single-product .product-item__tags .product-item__tags_new {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 2px;
    padding: 3px 15px; }
  .single-product .product-item__tags .product-item__tags_promo {
    color: #FF0000;
    background: #FFEFEC;
    margin-left: 3px; }
  .single-product .product-item__tags .product-item__tags_new {
    color: #005BD7;
    background: #ECF5FA; }

.home-service {
  background: #ECF5FA;
  padding: 66px 0 80px; }
  .home-service__text {
    margin-bottom: 33px; }
  .home-service__image {
    position: absolute; }

.home-news-articles {
  margin: 66px 0 40px 0;
  overflow: hidden; }
  .home-news-articles__cats {
    margin: 0;
    padding: 0; }
    .home-news-articles__cats li {
      list-style: none; }
      .home-news-articles__cats li a {
        text-decoration: none;
        display: inline-block;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #C6C6C6;
        padding: 10px 10px;
        border-bottom: 1px solid #C6C6C6;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        text-transform: uppercase; }
        .home-news-articles__cats li a.active {
          color: #005BD7;
          border-color: #005BD7; }
  .home-news-articles__content {
    position: absolute;
    opacity: 0;
    visibility: hidden; }
    .home-news-articles__content.active {
      opacity: 1;
      visibility: visible;
      position: relative; }
  .home-news-articles__image-carousel {
    min-height: 154px;
    background: #fff;
    position: relative; }
    .home-news-articles__image-carousel img {
      width: 100%;
      max-width: 365px; }
  .home-news-articles__title-carousel {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #424242;
    margin: 0 0 5px;
    min-height: 35px; }
    .home-news-articles__title-carousel a {
      color: #424242;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .home-news-articles__title-carousel a:hover {
        color: #005BD7;
        text-decoration: none; }
  .home-news-articles__text-carousel {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7D7D7D;
    margin-bottom: 7px; }
    .home-news-articles__text-carousel p {
      margin: 0; }
  .home-news-articles__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #005BD7;
    display: inline-block; }
  .home-news-articles__item-content {
    border-right: 1px solid #ECF5FA;
    border-left: 1px solid #ECF5FA;
    border-bottom: 1px solid #ECF5FA;
    border-radius: 2px;
    padding: 13px 8px 18px; }
  .home-news-articles__item_wrapper {
    margin: 0 4px; }

.home-news-articles__carousel {
  margin: 0 -4px;
  padding: 0; }
  .home-news-articles__carousel li {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.home__about {
  margin: 80px 0 33px; }
  .home__about .home__text-about {
    margin-bottom: 33px; }
  .home__about .home__link-about p {
    margin: 0 0 0 5px; }
  .home__about .home__link-about {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #005BD7;
    display: inline-block;
    margin: 0 20px 0 0;
    white-space: nowrap; }
  .home__about .home__title-box {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #424242;
    margin: 10px 0 67px; }
  .home__about .home__box-item:nth-of-type(4n+3) .home__title-box,
  .home__about .home__box-item:nth-of-type(4n+4) .home__title-box {
    margin-bottom: 0; }
  .home__about .home__first-about {
    background: #ECF5FA;
    padding: 61px 0 80px 26px; }
  .home__about .home__second-about {
    padding-left: 61px; }
  .home__about .link {
    margin-right: 35px; }

.home-partners {
  margin: 68px 0 78px; }
  .home-partners .home-partners__carousel {
    width: 100%; }
  .home-partners .home-partners__item {
    height: 57px; }
  .home-partners .slick-dots {
    bottom: -30px; }

.news-articles__cats {
  margin: 30px 0 24px 0;
  padding: 0; }
  .news-articles__cats li {
    list-style: none; }
  .news-articles__cats .news-articles__cats-item {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #C6C6C6;
    text-transform: uppercase;
    border-bottom: 1px solid; }
    .news-articles__cats .news-articles__cats-item.active {
      color: #005BD7; }
    .news-articles__cats .news-articles__cats-item:hover {
      text-decoration: none;
      color: #333;
      border-color: #333; }
  .news-articles__cats .home-news-articles__cats-row {
    padding: 0; }

.single-news__bottom-block {
  margin-bottom: 59px; }

.single-page-news_related-list {
  width: 100%; }
  .single-page-news_related-list .news-articles__item {
    min-width: 285px; }
  .single-page-news_related-list .slick-track {
    margin-left: 0; }

.single-page-news_related-list,
.news-articles__product-list {
  padding: 0;
  margin: 0 -5px; }
  .single-page-news_related-list li,
  .news-articles__product-list li {
    list-style: none; }
    .single-page-news_related-list li.news-articles__item,
    .news-articles__product-list li.news-articles__item {
      padding: 0 5px 10px 5px; }
    .single-page-news_related-list li .news-articles__image img,
    .news-articles__product-list li .news-articles__image img {
      max-width: 100%;
      width: 100%; }
    .single-page-news_related-list li .news-articles__item-content,
    .news-articles__product-list li .news-articles__item-content {
      padding: 13px 8px 16px 8px;
      border: 1px solid #ECF5FA;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
      .single-page-news_related-list li .news-articles__item-content .news-articles__title,
      .news-articles__product-list li .news-articles__item-content .news-articles__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #424242;
        margin: 0 0 5px; }
        .single-page-news_related-list li .news-articles__item-content .news-articles__title a,
        .news-articles__product-list li .news-articles__item-content .news-articles__title a {
          text-decoration: none;
          color: #424242;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          .single-page-news_related-list li .news-articles__item-content .news-articles__title a:hover,
          .news-articles__product-list li .news-articles__item-content .news-articles__title a:hover {
            text-decoration: none;
            color: #005BD7; }
      .single-page-news_related-list li .news-articles__item-content .news-articles____text,
      .news-articles__product-list li .news-articles__item-content .news-articles____text {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #7D7D7D;
        margin-bottom: 7px; }
      .single-page-news_related-list li .news-articles__item-content .news-articles____link,
      .news-articles__product-list li .news-articles__item-content .news-articles____link {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #005BD7; }

.news-articles-page .load-more__row {
  margin: 15px 0 69px; }

.single-page-news .single-page-news_content {
  margin-top: 35px; }
  .single-page-news .single-page-news_content * {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #424242; }

.single-page-news .title-third {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #424242;
  margin: 30px 0 22px; }

.load-more.load {
  position: relative; }
  .load-more.load:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/loading-small.gif);
    background-repeat: no-repeat !important;
    position: absolute;
    top: 15px;
    right: -29px; }

.page-about .about__content-page {
  margin-bottom: 28px; }

.page-about .about__features {
  background: #ECF5FA;
  padding: 49px 41px 0 41px;
  margin-bottom: 33px; }

.page-about .about__title-features {
  margin: 11px 0 56px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #424242; }

.page-about .about__item-features svg {
  min-height: 60px; }

.page-service .service__content-page {
  margin-bottom: 29px; }

.page-service h2 {
  margin: 0 0 28px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #424242; }

.page-service .service__feature {
  position: relative;
  padding: 29px 10px 10px 10px;
  margin: 0;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .page-service .service__feature:before {
    content: "";
    background: #ECF5FA;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .page-service .service__feature li {
    list-style: none;
    margin-bottom: 14px; }
    .page-service .service__feature li svg {
      margin-right: 9px;
      width: 23px;
      min-width: 23px;
      position: relative;
      top: 11px; }

.wrap .page-contacts {
  padding: 41px 0 69px; }
  .wrap .page-contacts__item-info {
    margin-bottom: 18px; }
    .wrap .page-contacts__item-info svg {
      margin-right: 9px;
      position: relative;
      top: 4px; }

#map {
  width: 100%;
  height: 350px; }

.wrap .page-contacts {
  padding: 41px 0 69px; }
  .wrap .page-contacts__item-info {
    margin-bottom: 18px; }
    .wrap .page-contacts__item-info svg {
      margin-right: 9px;
      position: relative;
      top: 4px; }

#map {
  width: 100%;
  height: 350px; }

.page-docs {
  margin: 40px 0; }

.page-docs__items-list {
  margin: 0 -11px;
  padding: 0; }
  .page-docs__items-list .page-docs__item {
    list-style: none;
    padding: 0 11px 26px; }
    .page-docs__items-list .page-docs__item a {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #005BD7;
      border: 1px solid #005BD7;
      -webkit-box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2);
              box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2);
      border-radius: 10px;
      padding: 10px 20px;
      min-height: 97px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .page-docs__items-list .page-docs__item a:hover {
        text-decoration: none;
        background-color: #005BD7;
        border-color: #005BD7;
        color: #fff; }

.single-page-docs {
  margin: 40px 0; }

.single-page-docs__list-docs {
  margin: 0;
  padding: 0; }
  .single-page-docs__list-docs li {
    list-style: none;
    margin-bottom: 20px; }
    .single-page-docs__list-docs li a {
      display: block;
      font-size: 20px;
      line-height: 22px;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      color: #005BD7;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .single-page-docs__list-docs li a:hover {
        text-decoration: none;
        color: #333; }

#searchform {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-input-placeholder-color: #D8DFE8;
  -ms-input-placeholder-font-size: 14px;
  -ms-input-placeholder-line-height: 16px;
  -moz-placeholder-color: #D8DFE8;
  -moz-placeholder-font-size: 14px;
  -moz-placeholder-line-height: 16px; }
  #searchform:before {
    content: "";
    display: block;
    background: url(../images/search-icon.png);
    background-repeat: no-repeat !important;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 13px; }
  #searchform #s {
    padding: 14px 13px 14px 44px;
    background: #FFFFFF;
    border: 1px solid #DBE2EC;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    width: 100%; }
  #searchform ::-webkit-input-placeholder {
    color: #D8DFE8;
    font-size: 14px;
    line-height: 16px; }
  #searchform ::-moz-placeholder {
    color: #D8DFE8;
    font-size: 14px;
    line-height: 16px; }
  #searchform #searchsubmit {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    background: -o-linear-gradient(0.75deg, #005CD7 -11.83%, #179EDE 110.67%);
    background: linear-gradient(89.25deg, #005CD7 -11.83%, #179EDE 110.67%);
    color: #FFFFFF;
    padding: 11px 72px;
    border: none; }
    #searchform #searchsubmit:hover {
      background: -o-linear-gradient(0.75deg, #333 -11.83%, #333 110.67%);
      background: linear-gradient(89.25deg, #333 -11.83%, #333 110.67%); }

.overlay-layer {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
  opacity: 0; }
  .overlay-layer.active {
    visibility: visible;
    opacity: 1; }

.modal .close:active,
.modal .close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.form-main .policy-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .form-main .policy-block p {
    margin-left: 10px; }

.form-main input {
  padding: 14px 13px 14px 14px;
  background: #FFFFFF;
  border: 1px solid #DBE2EC;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  width: 100%;
  margin-bottom: 10px; }

.form-main input[type=checkbox] {
  width: auto; }

.form-main .wpcf7-submit {
  margin-bottom: 0;
  color: #fff;
  background: #005BD7;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .form-main .wpcf7-submit:hover {
    background: #333;
    color: #fff; }

.woocommerce-message {
  border-top-color: #005BD7; }

.woocommerce-message::before {
  color: #005BD7; }

.list-search-result {
  margin: 0;
  padding: 0; }
  .list-search-result li {
    list-style: none;
    margin-bottom: 20px; }
    .list-search-result li a {
      color: #333;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .list-search-result li a:hover {
        color: #005BD7;
        text-decoration: none; }

.footer__second-row:before, .footer__first-row:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.footer__first-row {
  padding: 21px 0 25px; }
  .footer__first-row:before {
    background: #D7ECF8;
    width: 300%; }

.footer__second-row {
  padding: 21px 0 25px; }
  .footer__second-row:before {
    background: #ECF5FA;
    width: 300%;
    left: 0;
    right: auto; }

.footer .footer-logo {
  display: inline-block;
  margin-bottom: 25px; }

.footer__phone-block svg {
  margin-right: 11px; }

.footer__phone-block a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000; }

.footer .header__text-phone {
  margin-bottom: 11px;
  margin-left: 25px; }

.footer .soc-links {
  margin: 0;
  padding: 0; }
  .footer .soc-links li {
    list-style: none; }
    .footer .soc-links li a {
      list-style: none;
      margin-left: 6px; }
      .footer .soc-links li a:hover {
        list-style: none;
        opacity: .5; }
  .footer .soc-links li:first-child a {
    margin-left: 0; }

.footer .soc__title {
  white-space: nowrap; }

.footer__other-links a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #424242; }

.footer .footer-main-container {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin: 0 0 0 45px;
  padding: 0; }
  .footer .footer-main-container li {
    list-style: none; }
    .footer .footer-main-container li a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #424242; }
  .footer .footer-main-container .no-footer {
    display: none !important; }

.footer .bottom-copyright {
  white-space: nowrap; }

.single-product .flex-viewport {
  width: 404px;
  height: 365px; }

@media (max-width: 1200px) {
  .header__phone-item {
    margin-right: 30px; }
    .header__phone-item a {
      font-size: 14px; }
  .header__text-phone {
    margin-top: 10px; }
  .home__about .home__text-about {
    margin: 0; }
  .home__link-about,
  .home__about .link {
    margin-right: 0 !important;
    margin-top: 20px !important; }
  .footer-logo svg {
    max-width: 200px; }
  .row-sidebar-catalog {
    max-width: 240px; }
  .single-product .single-product .flex-viewport {
    width: auto; } }

@media (max-width: 1120px) {
  .header__bottom .main-main-container li a {
    margin: 0 20px; } }

@media (max-width: 992px) {
  .menu-icon-toggle {
    display: inline-block !important; }
  .link__large {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto 20px auto; }
  .page-service .service__feature {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .home-service__image,
  .header__phone-block,
  .header__bottom {
    display: none !important; }
  .header__search-cart-block {
    margin: 0 0 0 auto; }
  .home-slider__title {
    font-size: 32px;
    line-height: 1.5; }
  .home-slider__text {
    font-size: 14px; }
  .products-cat-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: inherit;
    grid-template-areas: none; }
    .products-cat-list > .products-cat__item {
      width: 50%; }
    .products-cat-list a img {
      min-height: auto;
      max-width: 100%; }
  .home__about .home__first-about {
    padding: 30px 15px 40px 15px; }
    .home__about .home__first-about .main-title {
      margin-bottom: 20px; }
  .home__about {
    margin: 40px 0 0; }
    .home__about .home__second-about {
      padding-left: 0 !important;
      padding-top: 40px; }
    .home__about .home__title-box {
      margin-bottom: 40px !important; }
  .footer__first-row:before {
    right: -50%; }
  .footer__second-row:before {
    left: -50%; }
  .footer__first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
  .footer .footer-logo {
    width: 50%; }
  .footer .footer-main-container {
    margin: 0; }
  .footer__soc-link-block {
    padding-left: 87px; }
  .news-articles__cats .news-articles__cats-item {
    display: table;
    margin: 0 auto;
    min-width: 118px; }
  .catalog-menu {
    margin-bottom: 30px; }
  .catalog-menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    .catalog-menu__title svg {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .catalog-menu__title.active svg {
      -webkit-transform: rotate(90deg) !important;
      -ms-transform: rotate(90deg) !important;
      transform: rotate(90deg) !important; }
  .row-sidebar-catalog {
    max-width: 100%;
    min-width: 100%; }
  .woocommerce-categories {
    display: none; } }

@media (max-width: 768px) {
  .home-slider_slider .home-slider_slider__item {
    height: 340px; }
  .home-slider__arrows {
    display: none !important; }
  .products-cat-list > .products-cat__item {
    width: 100%; }
  .home-news-articles .main-title {
    margin-bottom: 0; }
  .home-news-articles__cats {
    margin-bottom: 30px; }
  .home-partners {
    margin: 30px 0 60px; }
  .footer__other-links {
    margin-top: 7px; }
  .footer__soc-link-block {
    padding-left: 0;
    margin: 7px auto 0 0;
    display: inline-block; }
  header .logo svg {
    width: 100%; }
  header .header__search-cart-block {
    margin-right: 35px; } }

@media (max-width: 600px) {
  .news-articles__cats {
    margin-bottom: 20px !important;
    margin-top: 20px !important; }
  .heading-title {
    font-size: 26px;
    line-height: 1.5; }
  .link__large {
    padding: 15px; }
  .home-slider__title {
    font-size: 25px; }
  .main-title {
    font-size: 25px;
    line-height: 1.5;
    margin: 0 0 25px; }
  .row {
    margin: 0; }
  .home__product-list-cat {
    margin: 40px 0 30px; }
  .home-service {
    padding: 40px 0 40px; }
  .home-news-articles {
    margin: 40px 0 0 0; }
  .footer__second-row .col-12,
  .home-news-articles__wrapper,
  .home-service__first {
    padding: 0; }
  .home-news-articles .main-title,
  .home-news-articles__cats {
    margin-left: -15px;
    margin-right: -15px; }
  .row-list-catalog #searchform,
  .single-product-row #searchform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column; }
  .row-list-catalog #searchform:before,
  .single-product-row #searchform:before {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    top: 17px; }
  .breadcrumbs {
    margin-top: 0;
    display: block; }
    .breadcrumbs li {
      display: inline-block; } }

@media (max-width: 575px) {
  .single-product .single-product__bottom-block .booking-link {
    min-width: auto !important;
    padding: 12px 20px !important; }
  .woocommerce div.product .woocommerce-tabs ul.tabs li,
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    min-width: 100%; } }
