.header__top {
  padding: 21px 0; }

.header__bottom {
  background: -webkit-gradient(linear, left top, right top, from(#005BD7), to(#179FDE));
  background: -o-linear-gradient(left, #005BD7 0%, #179FDE 100%);
  background: linear-gradient(90deg, #005BD7 0%, #179FDE 100%); }

.header__link-cart {
  text-decoration: none;
  position: relative; }
  .header__link-cart:hover {
    text-decoration: none; }

.header__cart .counter {
  font-family: Roboto;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #005BD7;
  padding: 2.5px 5.2px;
  background: #F3F3F3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -13px; }

.header__search-block {
  margin-right: 12px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .header__search-block:hover {
    opacity: .5; }
  .header__search-block a {
    display: inline-block; }

.header__phone-item {
  margin-right: 68px; }
  .header__phone-item a {
    font-family: Gilroy;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000; }
  .header__phone-item svg {
    margin-right: 8px; }

.header__text-phone {
  font-size: 10px;
  line-height: 12px;
  color: #005BD7; }

.header__bottom {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }
  .header__bottom .main-main-container {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header__bottom .main-main-container li {
      list-style: none; }
      .header__bottom .main-main-container li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin: 0 40px; }
        .header__bottom .main-main-container li a:hover {
          text-decoration: underline; }

.footer__second-row:before, .footer__first-row:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.footer__first-row {
  padding: 21px 0 25px; }
  .footer__first-row:before {
    background: #D7ECF8;
    width: 300%; }

.footer__second-row {
  padding: 21px 0  25px; }
  .footer__second-row:before {
    background: #ECF5FA;
    width: 300%;
    left: 0;
    right: auto; }

.footer .footer-logo {
  display: inline-block;
  margin-bottom: 25px; }

.footer__phone-block svg {
  margin-right: 11px; }

.footer__phone-block a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000; }

.footer .header__text-phone {
  margin-bottom: 11px;
  margin-left: 25px; }

.footer .soc-links {
  margin: 0;
  padding: 0; }
  .footer .soc-links li {
    list-style: none; }
    .footer .soc-links li a {
      list-style: none;
      margin-left: 6px; }
      .footer .soc-links li a:hover {
        list-style: none;
        opacity: .5; }
  .footer .soc-links li:first-child a {
    margin-left: 0; }

.footer .soc__title {
  white-space: nowrap; }

.footer__other-links a {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #424242; }

.footer .footer-main-container {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin: 0;
  padding: 0; }
  .footer .footer-main-container li {
    list-style: none; }
    .footer .footer-main-container li a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #424242; }
  .footer .footer-main-container .no-footer {
    display: none !important; }

.footer .bottom-copyright {
  white-space: nowrap; }
