=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
$indigo: #000
$danube: #000
$white: #fff
$bermuda: #77D7B9
$theme_color: #005BD7
$theme_color_alt: #1bb684
$gray_color: #2a2d2f


//
//  Header
//
.header
  &__top
    padding: 21px 0

  &__bottom
    background: linear-gradient(90deg, #005BD7 0%, #179FDE 100%)

  &__link-cart
    text-decoration: none
    position: relative
    &:hover
      text-decoration: none

  &__cart
    .counter
      font-family: Roboto
      font-weight: bold
      font-size: 10px
      line-height: 12px
      color: $theme_color
      padding: 2.5px 5.2px
      background: #F3F3F3
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
      border-radius: 50%
      position: absolute
      top: -10px
      right: -13px


  &__search-block
    margin-right: 12px
    transition: all .3s
    &:hover
      opacity: .5

    a
      display: inline-block

  &__phone-item
    margin-right: 68px
    a
      font-family: Gilroy
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #000000

    svg
      margin-right: 8px

  &__text-phone
    font-size: 10px
    line-height: 12px
    color: #005BD7

.header
  &__bottom
    padding: 10px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

    .main-main-container
      margin: 0
      padding: 0
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      li
        list-style: none


        a
          font-weight: 500
          font-size: 16px
          line-height: 19px
          color: #FFFFFF
          text-decoration: none
          transition: all .3s
          margin: 0 40px
          &:hover
            text-decoration: underline





//
// Footer
//
.footer
  &__second-row,
  &__first-row
    &:before
      content: ""
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      right: 0
      z-index: -1


  &__first-row
    padding: 21px 0 25px
    &:before
      background: #D7ECF8
      width: 300%
  &__second-row
    padding: 21px 0  25px
    &:before
      background: #ECF5FA
      width: 300%
      left: 0
      right: auto


  .footer-logo
    display: inline-block
    margin-bottom: 25px

  &__phone-block
    svg
      margin-right: 11px
    a
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #000000

  .header__text-phone
    margin-bottom: 11px
    margin-left: 25px

  .soc-links
    margin: 0
    padding: 0
    li
      list-style: none

      a
        list-style: none
        margin-left: 6px
        &:hover
          list-style: none
          opacity: .5
    li:first-child
      a
        margin-left: 0
  .soc__title
    white-space: nowrap
  &__other-links
    a
      display: block
      font-weight: 500
      font-size: 16px
      line-height: 19px
      color: #424242



  .footer-main-container
    column-count: 2
    margin: 0
    padding: 0
    li
      list-style: none
      a
        text-decoration: none
        font-weight: 500
        font-size: 16px
        line-height: 19px
        color: #424242

    .no-footer
      display: none!important


  .bottom-copyright
    white-space: nowrap

