=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
$indigo: #000
$danube: #000
$white: #fff
$bermuda: #77D7B9
$theme_color: #005BD7
$theme_color_alt: #1bb684
$gray_color: #2a2d2f

.link
  font-weight: 500
  font-size: 15px
  line-height: 22px
  text-align: center
  color: #FFFFFF
  display: inline-block
  text-transform: uppercase
  padding: 12px 32px
  transition: all .3s
  background: linear-gradient(89.41deg, #005CD7 -11.83%, #179EDE 110.67%)

  &:hover
    text-decoration: none
    background: linear-gradient(89.41deg, #424242 -11.83%, #424242 110.67%)
    color: #fff


.link__alt
  font-weight: 600
  font-size: 15px
  line-height: 18px
  text-decoration-line: underline
  color: #005BD7
  display: inline-block
  white-space: nowrap
  transition: all .3s

  &:hover
    color: #424242

.link__large
  padding: 33px 60px
  display: inline-block
  max-width: 375px
  justify-content: center
  min-width: 375px
  border: 1px solid #005BD7
  box-sizing: border-box
  box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2)
  border-radius: 10px
  text-decoration: none
  margin: 0 10px
  font-weight: normal
  font-size: 20px
  line-height: 30px
  color: #005BD7
  transition: all .3s

  svg
    margin-right: 6px

  &:hover
    text-decoration: none
    opacity: .5

.main-title
  font-weight: bold
  font-size: 35px
  line-height: 42px
  color: #424242
  margin: 0 0 38px
  width: 100%
  text-align: left


.heading-title
  font-weight: bold
  font-size: 35px
  line-height: 42px
  color: #424242
  margin: 0 0 38px

.page-main
  padding: 48px 0 69px
//
// Breadcrumb
//
.breadcrumbs-section
  background: #ECF5FA

.woocommerce-page
  .breadcrumbs-section
    background: transparent

.breadcrumbs
  display: flex
  align-items: center
  margin-top: 45px

  li
    list-style: none

    a
      font-weight: 300
      font-size: 12px
      line-height: 14px
      color: #424242
      text-decoration: none
      transition: all .3s
      display: inline-block

      &:hover
        color: $theme_color
        text-decoration: none

  .current
    font-weight: 300
    font-size: 12px
    line-height: 24px
    color: #9D9D9D

  .sep
    padding: 0 3px 0 4px

//
//  Header
//
.mobile-menu
  display: none!important
  position: absolute
  z-index: 99
  background: #fff
  top: 79px
  left: 0
  height: 100%
  .open &
    display: flex!important
  .phone-numbers__mobile
    a
      text-decoration: none
      color: #414141
    svg
      margin-right: 5px



  #menu-mobile
    margin: 30px 0 30px
    padding: 0
    li
      list-style: none
      a
        text-decoration: none
        color: #414141




.menu-icon-toggle
  width: 30px
  height: 30px
  position: absolute
  z-index: 9999
  cursor: pointer
  display: none
  right: 20px
  top: 25px

  span
    display: block
    width: 100%
    height: 2px
    position: absolute
    top: 50%
    background-color: #424242
    transform: translate(0, -50%)
    transition: opacity 0.3s 0.3s

    .home:not(.open) &
      background-color: #424242


  &::before,
  &::after
    content: ''
    display: block
    width: 100%
    height: 2px
    position: absolute
    background-color: #424242
    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s

  &::before
    top: 6px

  &::after
    bottom: 6px

  .open &
    span
      opacity: 0
      transition: opacity 0.3s

    &::before,
    &::after
      background-color: $danube

    &::before
      top: calc(50% - 1px)
      transform: rotate(45deg)

    &::after
      bottom: calc(50% - 1px)
      transform: rotate(-45deg)

    &::before,
    &::after
      transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s

  .open &
    visibility: visible
    transition: background-position 0.5s, transform 0.5s 0.5s

  &.top
    transform: rotate(-45deg) translateY(-150%)
    background: linear-gradient(to top, $danube 50%, $white 50%)
    background-size: 100% 200%
    background-position: -100% 100%

    .open &
      transform: rotate(-45deg) translateY(-49%)
      background-position: 0 0


  &.middle
    transform: rotate(-45deg) translateY(50%) scaleY(0)
    background: $white

    .open &
      transform: rotate(-45deg) translateY(50%) scaleY(1)


  &.bottom
    transform: rotate(-45deg) translateY(250%)
    background: linear-gradient(to bottom, $white 50%, $danube 50%)
    background-size: 100% 200%
    background-position: 0 -100%

    .open &
      transform: rotate(-45deg) translateY(149%)
      background-position: 0 0


.header
  &__top
    padding: 21px 0

  &__bottom
    background: linear-gradient(90deg, #005BD7 0%, #179FDE 100%)

  &__link-cart
    text-decoration: none
    position: relative

    &:hover
      text-decoration: none

  &__cart .counter
    font-family: Roboto
    font-weight: bold
    font-size: 10px
    line-height: 12px
    color: $theme_color
    padding: 2.5px 5.2px
    background: #F3F3F3
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)
    border-radius: 50%
    position: absolute
    top: -10px
    right: -13px


  &__search-block
    margin-right: 12px
    transition: all .3s

    &:hover
      opacity: .5

    a
      display: inline-block

  &__phone-item
    margin-right: 68px

    a
      font-family: Gilroy
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #000000

    svg
      margin-right: 8px

  &__text-phone
    font-size: 10px
    line-height: 12px
    color: #005BD7

.header
  &__bottom
    padding: 10px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

    .main-main-container
      margin: 0
      padding: 0
      display: -webkit-box
      display: -ms-flexbox
      display: flex

      li
        list-style: none


        a
          font-weight: 500
          font-size: 16px
          line-height: 19px
          color: #FFFFFF
          text-decoration: none
          transition: all .3s
          margin: 0 40px

          &:hover
            text-decoration: underline

//
// Home slider
//
.home-slider_slider

  .home-slider_slider__item
    height: 530px


.home-slider
  position: relative

  &__content
    text-align: center
    max-width: 625px
    margin: 0 auto

  &__title
    font-weight: bold
    font-size: 45px
    line-height: 42px
    color: #424242
    margin: 0 0 9px

  &__text
    font-weight: 500
    font-size: 16px
    line-height: 21px
    color: #424242
    margin-bottom: 26px

  &__arrows
    position: absolute
    top: 0
    left: 0
    width: 100%

    .arrows
      top: 265px
      transform: translateY(-50%)
      position: absolute
      background: #fff
      transition: all .3s

      &:hover
        opacity: .5

      &.left
        left: -30px

      &.right
        right: -30px
.home-partners,
.home-popular-items,
.home-slider
  .slick-dots
    bottom: 15px

    button
      padding: 0
      width: 6px
      height: 6px
      background: #ECF5FA
      border-radius: 50%

      &:before
        display: none

    li
      width: 10px
      height: 10px

    .slick-active
      button
        padding: 0
        width: 10px
        height: 10px
        background: $theme_color

  .slick-dotted.slick-slider
    margin: 0

//
// Product cat list
//
.home__product-list-cat
  margin: 66px 0 30px

.products-cat-list
  height: 100%
  margin: 0 0 31px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr
  gap: 9px 9px
  grid-template-areas: "one two tree" "four five tree"

  & *:after
    content:attr(class)
    position: absolute
    top: 0
    left: 0

  .products-cat__item
    border: 1px solid #ECF5FA

    position: relative

  .one
    grid-area: one

  .two
    grid-area: two

  .tree
    grid-area: tree

  .four
    grid-area: four

  .five
    grid-area: five

  a
    padding: 9px 13px
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    flex-direction: column

    img
      min-height: 190px

    &:hover
      text-decoration: none

      &:before
        visibility: visible !important
        opacity: 1 !important

    &:before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 5
      transition: all .3s
      background-color: rgba(236, 245, 250, .8)
      background-image: url(../images/arrow.png)
      background-repeat: no-repeat !important
      background-position: center center
      opacity: 0
      visibility: hidden

    .products-cat__title
      font-weight: normal
      font-size: 20px
      line-height: 23px
      color: #424242
      text-align: center
      margin: 18px 0 0

//
// Home products  popular
//
.home-popular-items
  margin: 60px 0 89px 0

  .slick-dots
    bottom: -30px

  .home-popular__first-block
    margin: 0 0 38px

    .main-title
      margin-bottom: 0

  .popular-product__list
    margin: 0
    padding: 0
    display: flex
    width: 100%

    li
      list-style: none

      a
        margin: 0 9px
        display: inline-block

      a:hover
        text-decoration: none


      .popular-product__title
        font-weight: 500
        font-size: 15px
        line-height: 18px
        color: #424242
        margin: 0
        padding: 10px
        background: #ECF5FA
        min-height: 56px

      .popular-product__image
        max-height: 315px
        min-height: 315px
        text-align: center
        border: 1px solid #ECF5FA

        img
          margin: 0 auto

.home-popular-items,
.home-news-articles
  .slick-arrow
    width: 45px
    height: 44px

    &:before
      display: none

  .slick-next:active,
  .slick-next:focus,
  .slick-next
    background: url('../images/arrow.png')
    transform: translate(0, -50%)
    right: -49px

  .slick-prev:active,
  .slick-prev:focus,
  .slick-prev
    background: url('../images/arrow.png')
    transform: rotateZ(180deg) translate(0, 50%)
    left: -49px

  .slick-next:hover,
  .slick-prev:hover
    opacity: .5 !important
    background: url('../images/arrow.png') !important

//
//  Catalog
//
.row-sidebar-catalog
  max-width: 320px

.woocommerce-categories
  background: #ECF5FA
  padding: 28px 19px
  margin: 0

  li
    list-style: none
    margin-bottom: 22px
    position: relative

    a
      text-decoration: none
      font-weight: 500
      font-size: 14px
      line-height: 16px
      color: #000000

    svg
      position: absolute
      right: 0
      top: 6px
      cursor: pointer
      transition: all .3s

      &.active
        transform: rotateZ(180deg)

  ul
    margin: 8px 0 0 0
    padding: 0

    li
      list-style: none
      margin-bottom: 8px

      a
        font-weight: 300
        font-size: 14px
        line-height: 16px
        color: #424242

  a
    transition: all .3s

    &:hover
      text-decoration: none
      color: $theme_color

  .woocommerce-product-category-page:last-child
    margin-bottom: 0

//
// Home service
//
.home-service
  background: #ECF5FA
  padding: 66px 0 80px

  &__text
    margin-bottom: 33px

  &__image
    position: absolute

//
// Home news articles
//
.home-news-articles
  margin: 66px 0 40px 0
  overflow: hidden

  &__cats
    margin: 0
    padding: 0

    li
      list-style: none

      a
        text-decoration: none
        display: inline-block
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: #C6C6C6
        padding: 10px 10px
        border-bottom: 1px solid #C6C6C6
        transition: all .3s
        text-transform: uppercase


        &.active
          color: $theme_color
          border-color: $theme_color

  &__wrapper
  //overflow: hidden

  &__content
    position: absolute
    opacity: 0
    visibility: hidden

    &.active
      opacity: 1
      visibility: visible
      position: relative

  &__image-carousel
    min-height: 154px
    background: #fff
    position: relative

    img
      width: 100%
      max-width: 365px


  &__title-carousel
    font-weight: 500
    font-size: 15px
    line-height: 18px
    color: #424242
    margin: 0 0 5px
    min-height: 35px

    a
      color: #424242
      transition: all .3s

      &:hover
        color: $theme_color
        text-decoration: none


  &__text-carousel
    font-weight: 500
    font-size: 12px
    line-height: 15px
    color: #7D7D7D
    margin-bottom: 7px

    p
      margin: 0

  &__link
    font-weight: 600
    font-size: 15px
    line-height: 18px
    color: #005BD7
    display: inline-block

  &__item-content
    border-right: 1px solid #ECF5FA
    border-left: 1px solid #ECF5FA
    border-bottom: 1px solid #ECF5FA
    //box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1)
    border-radius: 2px
    padding: 13px 8px 18px

  &__item_wrapper
    margin: 0 4px


.home-news-articles__carousel
  margin: 0 -4px
  padding: 0

  li
    list-style: none
    display: flex

//
// Home About
//
.home__about
  margin: 80px 0 33px

  .home
    &__text-about
      margin-bottom: 33px

  .home
    &__link-about
      p
        margin: 0 0 0 5px

    &__link-about
      font-weight: 600
      font-size: 15px
      line-height: 18px
      color: #005BD7
      display: inline-block
      margin: 0 20px 0 0
      white-space: nowrap

    &__title-box
      font-weight: 600
      font-size: 15px
      line-height: 18px
      color: #424242
      margin: 10px 0 67px

    &__box-item:nth-of-type(4n+3) .home__title-box,
    &__box-item:nth-of-type(4n+4) .home__title-box
      margin-bottom: 0

    &__first-about
      background: #ECF5FA
      padding: 61px 0 80px 26px

    &__second-about
      padding-left: 61px

  .link
    margin-right: 35px


.home-partners
  margin: 68px 0 78px

  .home-partners__carousel
    width: 100%

  .home-partners__item
    height: 57px
  .slick-dots
    bottom: -30px
//
// News Articles page
//
.news-articles__cats
  margin: 30px 0 24px 0
  padding: 0

  li
    list-style: none

  .news-articles__cats-item
    display: block
    text-align: center
    padding: 10px
    font-weight: 600
    font-size: 16px
    line-height: 19px
    color: #C6C6C6
    text-transform: uppercase
    border-bottom: 1px solid

    &.active
      color: #005BD7

    &:hover
      text-decoration: none
      color: #333
      border-color: #333

  .home-news-articles__cats-row
    padding: 0

.single-news__bottom-block
  margin-bottom: 59px

.single-page-news_related-list
  width: 100%


  .news-articles__item
    min-width: 285px

  .slick-track
    margin-left: 0

.single-page-news_related-list,
.news-articles__product-list
  padding: 0
  margin: 0 -5px

  li
    list-style: none

    &.news-articles__item
      padding: 0 5px 10px 5px

    .news-articles__image
      img
        max-width: 100%
        width: 100%

    .news-articles__item-content
      padding: 13px 8px 16px 8px
      border: 1px solid #ECF5FA
      border-bottom-left-radius: 2px
      border-bottom-right-radius: 2px

      .news-articles__title
        font-weight: 500
        font-size: 15px
        line-height: 18px
        color: #424242
        margin: 0 0 5px

        a
          text-decoration: none
          color: #424242
          transition: all .3s

          &:hover
            text-decoration: none
            color: $theme_color


      .news-articles____text
        font-weight: 500
        font-size: 12px
        line-height: 15px
        color: #7D7D7D
        margin-bottom: 7px

      .news-articles____link
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: #005BD7


.news-articles-page
  .load-more__row
    margin: 15px 0 69px

//
// Single news and articles
//
.single-page-news
  .single-page-news_content
    margin-top: 35px

    *
      font-weight: normal
      font-size: 15px
      line-height: 22px
      color: #424242

  .title-third
    font-weight: bold
    font-size: 35px
    line-height: 42px
    color: #424242
    margin: 30px 0 22px


.load-more
  &.load
    position: relative

    &:before
      content: ""
      display: block
      width: 12px
      height: 12px
      background: url(../images/loading-small.gif)
      background-repeat: no-repeat !important
      position: absolute
      top: 15px
      right: -29px

//
// About page
//
.page-about
  .about__content-page
    margin-bottom: 28px

  .about__features
    background: #ECF5FA
    padding: 49px 41px 0 41px
    margin-bottom: 33px

  .about__title-features
    margin: 11px 0 56px
    font-weight: 600
    font-size: 15px
    line-height: 18px
    color: #424242

  .about__item-features svg
    min-height: 60px

//
//  Service page
//
.page-service
  .service__content-page
    margin-bottom: 29px

  h2
    margin: 0 0 28px
    font-weight: 500
    font-size: 25px
    line-height: 29px
    color: #424242

  .service__feature
    position: relative
    padding: 29px 10px 10px 10px
    margin: 0
    column-count: 2

    &:before
      content: ""
      background: #ECF5FA
      opacity: 0.8
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1

    li
      list-style: none
      margin-bottom: 14px

      svg
        margin-right: 9px
        width: 23px
        min-width: 23px
        position: relative
        top: 11px

//
// Page contacts
//
.wrap
  .page-contacts
    padding: 41px 0 69px

    &__item-info
      margin-bottom: 18px

      svg
        margin-right: 9px
        position: relative
        top: 4px


#map
  width: 100%
  height: 350px


//
// Page contacts
//
.wrap
  .page-contacts
    padding: 41px 0 69px

    &__item-info
      margin-bottom: 18px

      svg
        margin-right: 9px
        position: relative
        top: 4px


#map
  width: 100%
  height: 350px

//
// Page Docs
//
.page-docs
  margin: 40px 0

.page-docs__items-list
  margin: 0 -11px
  padding: 0

  .page-docs__item
    list-style: none
    padding: 0 11px 26px

    a
      font-weight: normal
      font-size: 20px
      line-height: 30px
      color: $theme_color
      border: 1px solid $theme_color
      box-shadow: 0px 1px 1px rgba(73, 73, 73, 0.2)
      border-radius: 10px
      padding: 10px 20px
      min-height: 97px
      align-items: center
      display: flex
      text-align: center
      justify-content: center
      transition: all .3s

      &:hover
        text-decoration: none
        background-color: $theme_color
        border-color: $theme_color
        color: #fff


//
// Single Docs
//
.single-page-docs
  margin: 40px 0

.single-page-docs__list-docs
  margin: 0
  padding: 0

  li
    list-style: none
    margin-bottom: 20px

    a
      display: block
      font-size: 20px
      line-height: 22px
      text-decoration-line: underline
      color: $theme_color
      transition: all .3s

      &:hover
        text-decoration: none
        color: #333


//
// Footer
//
.footer
  &__second-row,
  &__first-row
    &:before
      content: ""
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      right: 0
      z-index: -1


  &__first-row
    padding: 21px 0 25px

    &:before
      background: #D7ECF8
      width: 300%

  &__second-row
    padding: 21px 0 25px

    &:before
      background: #ECF5FA
      width: 300%
      left: 0
      right: auto


  .footer-logo
    display: inline-block
    margin-bottom: 25px

  &__phone-block
    svg
      margin-right: 11px

    a
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #000000

  .header__text-phone
    margin-bottom: 11px
    margin-left: 25px

  .soc-links
    margin: 0
    padding: 0

    li
      list-style: none

      a
        list-style: none
        margin-left: 6px

        &:hover
          list-style: none
          opacity: .5

    li:first-child
      a
        margin-left: 0

  .soc__title
    white-space: nowrap

  &__other-links
    a
      display: block
      font-weight: 500
      font-size: 16px
      line-height: 19px
      color: #424242


  .footer-main-container
    column-count: 2
    margin: 0 0 0 45px
    padding: 0

    li
      list-style: none

      a
        text-decoration: none
        font-weight: 500
        font-size: 16px
        line-height: 19px
        color: #424242

    .no-footer
      display: none !important


  .bottom-copyright
    white-space: nowrap


@media (max-width: 1200px)
  .header__phone-item
    margin-right: 30px

    a
      font-size: 14px
  .header__text-phone
    margin-top: 10px
  .home__about .home__text-about
    margin: 0
  .home__link-about,
  .home__about .link
    margin-right: 0!important
    margin-top: 20px!important
  .footer-logo svg
    max-width: 200px

@media (max-width: 1120px)
  .header__bottom
    .main-main-container
      li
        a
          margin: 0 20px


@media (max-width: 992px)
  .menu-icon-toggle
    display: inline-block!important
  .link__large
    min-width: 100%
    max-width: 100%
    margin: 0 auto 20px auto
  .page-service .service__feature
    column-count: 1

  .home-service__image,
  .header__phone-block,
  .header__bottom
    display: none !important

  .header__search-cart-block
    margin: 0 0 0 auto


  .home-slider__title
    font-size: 32px
    line-height: 1.5

  .home-slider__text
    font-size: 14px

  .products-cat-list
    display: flex
    flex-wrap: wrap
    grid-template-columns: auto
    grid-template-rows: auto
    gap: inherit
    grid-template-areas: none

    > .products-cat__item
      width: 50%

    a img
      min-height: auto
      max-width: 100%

  .home__about .home__first-about
    padding: 30px 15px 40px 15px
    .main-title
      margin-bottom: 20px

  .home__about
    margin: 40px 0 0
    .home__second-about
      padding-left: 0!important
      padding-top: 40px
    .home__title-box
      margin-bottom: 40px!important
  .footer__first-row:before
    right: -50%
  .footer__second-row:before
    left: -50%

  .footer__first-row
    display: flex
    flex-wrap: wrap
  .footer .footer-logo
    width: 50%

  .footer .footer-main-container
    margin: 0
  .footer__soc-link-block
    padding-left: 87px

@media (max-width: 768px)
  .home-slider_slider
    .home-slider_slider__item
      height: 340px

  .home-slider__arrows
    display: none !important
  .products-cat-list
    > .products-cat__item
      width: 100%
  .home-news-articles
    .main-title
      margin-bottom: 0
  .home-news-articles__cats
    margin-bottom: 30px

  .home-partners
    margin: 30px 0 60px
  .footer__other-links
    margin-top: 7px

  .footer__soc-link-block
    padding-left: 0
    margin: 7px auto 0 0
    display: inline-block
  header
    .logo
      svg
        width: 100%

    .header__search-cart-block
      margin-right: 35px

@media (max-width: 600px)
  .link__large
    padding: 15px

  .home-slider__title
    font-size: 25px

  .main-title
    font-size: 25px
    line-height: 1.5
    margin: 0 0 25px

  .row
    margin: 0

  .home__product-list-cat
    margin: 40px 0 30px


  .home-service
    padding: 40px 0 40px

  .home-news-articles
    margin: 40px 0 0 0
  .footer__second-row .col-12,
  .home-news-articles__wrapper,
  .home-service__first
    padding: 0

  .home-news-articles .main-title,
  .home-news-articles__cats
    margin-left: -15px
    margin-right: -15px